.card {
    flex: 1 1 30%;
    max-width: 300px;
    height: auto;
    background-color: rgba(233, 115, 4, 0.7);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    border-radius: 0.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.card:hover {
    background: rgba(95, 95, 95, 0.9);
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    margin-bottom: 1em;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

.card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.card p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.circle-button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: rgba(233, 115, 4, 0.7);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;
}

.card:hover .circle-button {
    opacity: 1;
    transform: scale(1);
}

.circle-button:hover {
    background-color: rgba(233, 115, 4, 0.7);
    color: white;
}
