.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgb(77, 76, 76);
    border-radius: 0.4em;
    color: white;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .confirmButton {
    background-color: red;
    color: white;
    border: none;
    padding: 1em 3em;
    cursor: pointer;
  }
  
  .cancelButton {
    background-color: rgb(2, 133, 41);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  