.editCardContainer {
  background: url('/images/login1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 86vh;
}

.editCardBox {
  opacity: 0.95;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.9);
  width: 600px;
  padding: 2em;
  text-align: center; 
  color: white;
  overflow: hidden;
}

.editCardBox h2 {
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 1em;
}

.form-group {
  margin: 1em 0;
  display: flex;
  flex-direction: column; 
}

.form-group label {
  color: white;
  font-weight: bold;
  display: block;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.editCardBox input[type="text"],
.editCardBox textarea,
.editCardBox select {
  width: 94%; 
  padding: 1em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.3em;
  background: #333;
  color: #fff;
}

.editCardBox button {
  border-radius: 0.5em;
  padding: 0.5em 2em;
  background: #e97304;
  color: #333;
  margin-top: 1em;
  border: 1px solid #e97304;
  font-size: 18px;

}

.editCardBox button:hover {
  cursor: pointer;
  background: #333;
  color: #e97304;
}
