
.profile-container {
    background: url('/images/profile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 83vh;
}

.profile-content {
    background: #1a1a1a;
    color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
    max-width: 800px;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 1em;
    border: 4px solid #333;
}

.profile-details h2 {
    color: rgb(233, 115, 4);
    margin-top: 0.5em;
}

.profile-bio {
    font-size: 1.2em;
    margin: 1em 0;
    line-height: 1.6;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.info-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 0;
    border-bottom: 1px solid #444;
}

.info-label {
    font-weight: bold;
}

.info-value {
    color: #777;
}
