
.classes {
    background-image: url('/public/images/360_F_124887107_jHzYHrpwWVFm8PJM9Z0tgyblk5of0aUZ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.title h2 {
    font-size: 88px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1em;
    flex-wrap: wrap;
}

.feature {
    flex: 1 1 30%;
    width: 200px;
    height: 300px;
    background-color: rgb(233, 115, 4, 0.7);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 2em;
    margin: 1em;
    text-align: center;
    border-radius: 0.7em;
    box-shadow: 0 0 1em rgba(146, 146, 146, 0.1);
}

.feature:hover {
    background: rgb(95, 95, 95);
}

.feature img {
    font-size: 28px;
    color: white
}

.feature h2 {
    font-size: 24px;
    margin: 10px 0;
}

.feature p {
    font-size: 14px;
}

.circle-button {
    position: absolute;
    bottom: 5px;
    right: 155px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: orange;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 24px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s, transform 0.3s;
}

.feature:hover .circle-button {
    opacity: 1;
    transform: scale(1);
}

.circle-button:hover {
    background-color: orange;
    color: white;
}
