html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.about-container {
    background: url('/images/login1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
    display: flex;
    flex-direction: column;
    height: 86vh;
}

.about-header {
    text-align: center;
    padding: 2em;
    color:rgb(233, 115, 4);
    width: 100%;
}

.about-header h1 {
    font-size: 4em;
    margin: 0;
    font-weight: bold;
}

.about-header p {
    color: white;
    font-size: 1.2em;
    margin-top: 0.5em;
}

.about-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 1em;
    align-items: stretch; 
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    gap: 1em; 
}

.about-video {
    flex: 1;
}

.about-video video {
    width: 100%;
    height: 100%; 
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.about-map {
    text-align: center;
    flex: 1;
}

.map-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.about-text h2 {
    font-size: 2em;
    color: rgb(233, 115, 4);
    margin-top: 0;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: white;
}

span {
    color: rgb(233, 115, 4);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .left-panel {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .about-video {
        margin-bottom: 1em;
    }
}
