html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.about-container {
    background: url('/images/login1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 86vh;
    color: white;
}

.about-header {
    text-align: center;
    padding: 1em;
    color: rgb(233, 115, 4);
    width: 100%;
}

.about-header h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}


.about-content {
    display: flex;
    flex: 1;
    padding: 2em;
    gap: 1em;
    overflow: hidden;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:5em;
    max-height: 100%;
}

.about-video,
.about-map {
    flex: 1;
    max-height: 40%;
    text-align: center;
}

.about-video video,
.map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.about-map h2 {
    margin: 0 0 0.5em 0;
}

.map-container {
    position: relative;
    padding-top: 40%;
    /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    border-radius: 0.3em;
    max-height: 100%;
}

.about-text h2 {
    font-size: 2.4em;
    color: rgb(233, 115, 4);
    margin-top: 0;
    margin-bottom: 0.5em;
}

.about-text p {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 2em;
}

span {
    color: rgb(233, 115, 4);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .left-panel {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .about-video {
        margin-bottom: 1em;
    }
}